
<div class="container" >
 <div class="row row-centered" >
 	<div class="col-md-12 col-centered">

<center><h1>On The Spot Courier Service</h1></center>
</br>

 
    	<h2 class="headings" >Terms &amp; Conditions</h2>
       <h3>
	Acknowledgment And Acceptance Of Disclaimer And Terms And Conditions</h3>
	<hr>
<p>
	The Cargone Couriers Web Site is owned and operated by Blane Muntz ABN:88630381241 trading as Cargone Couriers. When you obtain information or buy services from this Web Site you agree to the terms, conditions and disclaimers as amended from time to time and as set out below ("Terms &amp; Conditions") and acknowledge that you have read and understood these Terms and Conditions. By using this Web Site to buy a delivery service or by registering on this Web Site you expressly agree to be bound by these Terms and Conditions.</p>
<p>
	Please read this Disclaimer and Terms and Conditions prior to ordering any services from this Web Site. These Terms and Conditions govern the use of this Web Site and the purchase of any services from it.</p>
<p>
	Cargone Couriers may amend these Terms and Conditions from time to time. Any amendment will be effective immediately. Your continued use of this Web Site after any amendment becomes effective constitutes an agreement by you to abide by and be bound by these Terms and Conditions, as so amended.</p>
<p>
	Should you have any questions or wish to clarify the meaning of any of these terms and conditions, please contact Cargone Couriers prior to ordering any services from this Web Site.</p>
<p>
	All data provided by you to Cargone Couriers will be considered as confidential information and will not be disclosed by Cargone Couriers to any third party except as may be required for the provision of the services you have requested Cargone Couriers provides.</p>
<p>
	&nbsp;</p>
<h3>
	Cargone Couriers Terms And Conditions</h3>
<p>
	<strong>1. INTERPRETATION</strong></p>
<p>
	In these terms and conditions:</p>
<p>
	"Courier" shall mean Cargone Couriers its agents and Sub-Contractors.</p>
<p>
	"Customer" means the person or entity, or as servants or agents, entering into this contract with the Courier.</p>
<p>
	"Sub-Contractor" means and includes:</p>
<p>
	(a) Any person, firm or company with whom the Courier may arrange for the carriage of any goods the subject of this contract;</p>
<p>
	(b) Any person who is now or later a servant, agent, employee or Sub-Contractor of any other persons referred to in (a) above.</p>
<p>
	&nbsp;</p>
<p>
	<strong>2. COURIER IS NOT A COMMON CARRIER</strong></p>
<p>
	2.1 The Courier is not a common carrier and will accept no liability as such.</p>
<p>
	2.2 All goods or articles are carried or transported and all storage and other services are performed by the Courier subject to these conditions.</p>
<p>
	2.3 The Courier reserves the right to refuse to transport any goods for any person, firm or company at its discretion without being bound to give any reason for such refusal.</p>
<p>
	&nbsp;</p>
<p>
	<strong>3. RIGHT TO SUB-CONTRACT</strong></p>
<p>
	3.1 The Customer authorises the Courier to engage a Sub-Contractor for the carriage of any of the goods subject to this contract at its discretion.</p>
<p>
	3.2 The Sub-Contractor is deemed to be entitled to the full benefit of these terms and conditions to the same extent as the Courier. The Courier is deemed to have entered into this contract for its own benefit and also as agent for the Sub-Contractor.</p>
<p>
	&nbsp;</p>
<p>
	<strong>4. DELIVERY OF GOODS</strong></p>
<p>
	4.1 The Courier is authorised to deliver the goods at the address given to the Courier by the Customer for that purpose, and without prejudice to any other method of delivery.</p>
<p>
	4.2 The Courier is taken to deliver the goods specified in the Contract in accordance with the term and conditions of the Contract if at that address the courier obtains from any person a receipt or signed delivery docket for the goods.</p>
<p>
	4.3 If the specified place of delivery is unattended or if the Courier is otherwise unable to effect delivery, the Courier will contact the customer to arrange alternate directions, ie. request an 'ATL':authority to leave safe, redelivery, alternate address or return goods to address of collection . The Customer must pay or indemnify the Courier for all costs and expenses incurred in or about for additonal directions.</p>
<p>
	4.4 If the Courier receives an 'ATL' to in accordance with Clause 4.3, this is deemed to be delivery of the goods under this contract.</p>
<p>
	4.5 The Customer agrees to any deviation by the Courier from the usual route or manner of carriage of the goods which may be deemed by the Courier to be reasonable or necessary in the circumstances at its absolute discretion.</p>
<p>
	&nbsp;</p>
<p>
	<strong>5. RESPONSIBILITY FOR LOSS OR DAMAGE TO GOODS OR MISS- DELIVERY</strong></p>
<p>
	5.1 Unless otherwise agreed in writing, the goods are carried at the risk of the Customer and the Courier accepts no responsibility in tort or contract or otherwise for any loss or destruction of, or damage to, or misdelivery or failure to deliver, or delay in delivery of goods either in transit or in storage, whatever the reason.</p>
<p>
	5.2 The Customer agrees to indemnify the Courier against all loss, damage and expense sustained by any person (including the Courier) by reason of any such loss, damage, misdelivery, non-delivery or delay in delivery as mentioned in Clause 5.1.</p>
<p>
	&nbsp;</p>
<p>
	<strong>6. EXPLOSIVE, INFLAMMABLE OR OTHERWISE DANGEROUS GOODS</strong></p>
<p>
	6.1 The Customer or the Customer's authorised agent must not tender any explosive, inflammable, or otherwise dangerous or damaging goods for carriage by the Courier unless the Customer gives the Courier a full description of the goods.</p>
<p>
	6.2 If the Customer fails to comply with Clause 6.1, the Customer is liable for all loss and damage resulting from this breach.</p>
<p>
	&nbsp;</p>
<p>
	<strong>7. CLAIMING FOR LOSS OR DAMAGE</strong></p>
<p>
	7.1 Any claim for loss or damage to the goods the subject of this contract in whole or in part by the Customer or the Consignee must be lodged with the Courier in writing within seven (7) days from the date of despatch of the goods.</p>
<p>
	&nbsp;</p>
<p>
	<strong>8. CUSTOMER'S WARRANTY AS TO OWNERSHIP OR OTHERWISE</strong></p>
<p>
	8.1 The Customer expressly warrants to the Courier that the Customer is either the owner of, or authorised agent of the owner, of any goods under this contract.</p>
<p>
	8.2 By entering into this contract, the Customer agrees to accept these Terms and Conditions of this contract of carriage on behalf of the Consignee, as well as for all other persons on whose behalf the Customer is signing.</p>
<p>
	8.3 The Customer agrees to indemnify the Courier for any liability whatsoever to any person in respect of the goods subject to this Contract (other than the Customer) who claims to have, who has, or may have later on, any interest in the goods in whole or in part.</p>
<p>
	&nbsp;</p>
<p>
	<strong>9. CUSTOMER'S WARRANTY AS TO PACKAGING OF GOODS</strong></p>
<p>
	9.1 The Customer warrants that the Customer has complied with all laws and regulations relating to nature, packaging, labelling or carriage of the goods and that the goods are packed in an adequate manner to withstand the ordinary risks of carriage when having regard to the nature of the goods.</p>
<p>
	9.2 The Customer agrees to indemnify the Courier to the extend that the Customer fails to comply with this warranty and loss or damage result from the Customer's failure to comply.</p>
<p>
	&nbsp;</p>
<p>
	<strong>10. INSURANCE OF GOODS</strong></p>
<p>
	10.1 The Courier will effect insurance of goods up to the value of $100,000 dollars as the agent of the Customer if the Customer instructs the Courier to do so in writting prior to the effect of the contract.</p>
<p>
	10.2 To avoid doubt, it is not the responsibility of the Courier to effect insurance of goods. Insurance of goods will only be effected by the Courier for the benefit of the Customer if the Courier receives written or electronically transmitted instructions from the Customer and the Customer agrees to pay the cost of insurance.</p>
<p>
	&nbsp;</p>
<p>
	<strong>11. CHARGES BY THE COURIER</strong></p>
<p>
	11.1 The Courier's charges are deemed to be earned as soon as the goods are loaded and despatched by the Courier.</p>
<p>
	11.2 The Customer will be and remains responsible to the Courier for all proper charges incurred by the Courier for any reason whatsoever.</p>
<p>
	11.3 The Courier is entitled to make a charge for any delay over ten (10) minutes in loading or unloading the goods which results from the Customer's default. The permissible delay period starts upon the Courier reporting at the relevant place for loading or unloading.</p>
<p>
	11.4 The cost of any labour to load or unload the vehicle is the responsibility of the Customer or Consignee of the goods.</p>
<p>
	11.5 The Courier has the right to cancell (see 13) the service should the goods not be ready for cartiage within 10min of the Couriers arrival at the point of collection. The Courier will notify the Customer of this in effect.</p>
<p>
	&nbsp;</p>
<p>
	<strong>12. TERMS OF PAYMENT</strong></p>
<p>
	12.1 Customers not on a COD basis or not paying each job in advance via credit card agree to accept the terms of trading as strictly thirty (30) days net from receipt of the Courier's monthly invoice or statement.</p>
<p>
	12.2 Nothing prevents the Courier from taking any action necessary to recover any unpaid courier charges. The Courier is entitled without express authorisation from the Customer to recover any and all costs incurred by the Courier in recovering unpaid courier charges, including debt collection costs, commissions, legal fees and any out of pocket expense.</p>
<p>
	12.3 The Courier reserves the right to retain the Customers credit card details if provided to us for the purposes of this agreement (12.2), including to process any future payment of fees from the customer. The Customer acknowledges that they are solely responsible for any charges or fees associated with insufficient funds or any other such charge relating to the processing or collection of payments.</p>
<p>
	12.4 The Customer agrees to pay all costs, legal or otherwise, incurred in the collection of charges due and owing by the Customer to the Courier for carriage of goods.</p>
<p>
	&nbsp;</p>
<p>
	<strong>13. CANCELLATION CHARGES</strong></p>
<p>
	13.1 The Courier will charge the Customer 70% of the quoted price if the contract is cancelled after the Courier has arrived at the collection address.</p>
<p>
	13.2 The Courier will charge the Customer 30% of the quoted price if the contract is cancelled after the contract has been accepted by the Courier.</p>
<p>
	13.3 The Courier will not charge the Customer if the contract is cancelled before the contract has been accepted by the Courier</p>
<p>
	&nbsp;</p>
<p>
	<strong>14. REFUNDS POLICY</strong></p>
<p>
	14.1 The Courier does not issue refunds under any circumstances other than services payed in advance via cash or credit card specifically related to Cancellation Charges (see 13). Any service paid for by credit card which the Courier approves of a refund (part or full) will have a transaction fee applied of one Australian dollar&nbsp;($1.00 AU).</p>
<p>
	&nbsp;</p>
<p>
	<strong>15. GOODS AND SERVICES TAX</strong></p>
<p>
	15.1 In this Agreement:</p>
<p>
	"GST" means any tax imposed by authority of any GST law enacted by the Commonwealth Parliament and includes goods and services tax within the meaning of the GST Act.</p>
<p>
	"GST Act" means the A New Tax System (Goods and Services Tax) Act 1999 (as amended).</p>
<p>
	15.2 The Customer agrees that to the extent that the Courier is or becomes liable to pay GST pursuant to making a taxable supply under the GST Act to the Customer, the Courier will pay GST liability.</p>
<p>
	&nbsp;</p>
<p>
	<strong>16. GENERAL</strong></p>
<p>
	16.1 The Customer accepts that all rights, immunities and limitations of liability accruing to the Courier under these Terms and Conditions continue to have full force and effect, not withstanding any breach of contract or any condition by the Courier.</p>
<p>
	16.2 Notwithstanding anything in these Terms and Conditions, the Courier continues to be subject to any implied warranty provided by the Trade Practices Act 1974 (as amended) or any other Commonwealth or State legislation if and to the extent that the relevant Act applies to the contract and prevents any exclusion, restriction or modification of any such warranty.</p>
<p>
	16.3 The Courier is not bound by any agreement which purports to vary these Terms and Conditions unless the agreement is in writing and signed by or on behalf of the Courier by its duly authorised officer.</p>
<p>
	16.4These Terms and Conditions are to be governed and construed by the laws of the State in which the Courier has its principal place of business wherever the contract is made. Accordingly, any proceedings in respect of any claim, matter or thing against the Courier must be instituted in that State only.</p>
<p>
	16.5 The clauses and provisions in these Terms and Conditions are severable from each other and if for any reason any clause or provision is invalid or unenforceable, such invalidity or unenforceability does not prejudice or in any way affect the invalidity or unenforceability of any other clause or provision of these Terms and Conditions.</p>
<p>
	&nbsp;</p>

    </div>


   </div> 
   </div>
   </div>